.header {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

@media (prefers-color-scheme: dark) {
  .header {
    border-bottom-color: rgba(255, 255, 255, 0.1);
  }
}

.inner {
  display: flex;
  align-items: center;
  height: 4rem;
  max-width: 64rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.logo {
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: -0.025em;
}
